<div class="app-container">
  <nav class="navbar navbar-dark">
    <div class="container-fluid">
      <div class="app-logo">
        <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Stack_Overflow_icon.svg"
             width="30"
             alt="">
        <a class="navbar-brand" [routerLink]="['/']">Stackoverflow</a>
      </div>
      <div class="actions">

        <app-search></app-search>
        <app-login-partial></app-login-partial>

      </div>

    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
