<div class="col-md-8 offset-2">
    <form method="get" action="">
        <div class="form-group">
          <label for=""></label>
          <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="">
          <small id="emailHelpId" class="form-text text-muted">email@example.com</small>
        </div>
        <div class="form-group">
          <label for=""></label>
          <input type="password" class="form-control" name="" id="" placeholder="">
        </div>
        <div class="col-md-2 offset-5">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>
