/* You can add global styles to this file, and also import other style files */
body {
  height: fit-content;
  min-height: 100vh;
  background: url("./assets/macbook_touchbar-wallpaper-5120x2880.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
