<div class="card text-left m-2">
  <div class="card-header">
    <h2 class="card-title">Title</h2>
  </div>
  <div class="card-body">
    <p class="card-text">Body</p>
  </div>
  <div class="card-footer">
    Created by <a href="/User">User</a> On 21-05-2020 14:55
  </div>
</div>

<div class="card text-left m-2">
  <div class="card-header">
    <h2 class="card-title">Title</h2>
  </div>
  <div class="card-body">
    <p class="card-text">Body</p>
  </div>
  <div class="card-footer">
    Created by <a href="/User">User</a> On 21-05-2020 14:55
  </div>
</div>

<div class="card text-left m-2">
  <div class="card-header">
    <h2 class="card-title">Title</h2>
  </div>
  <div class="card-body">
    <p class="card-text">Body</p>
  </div>
  <div class="card-footer">
    Created by <a href="/User">User</a> On 21-05-2020 14:55
  </div>
</div>