.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.appBody{
  height: fit-content;
  min-height: 100%;
  background: url("../assets/macbook_touchbar-wallpaper-5120x2880.jpg");
  background-repeat: no-repeat ;
  background-size:  cover;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.navColor {
  background-color: rgba(22, 22, 22, 0.651);
}